
  .container1 {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 1 1 200px;
    background-color: #8ca0ff;
    padding: 20px;
    text-align: center;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  .lime {
max-width: 100%;
height: auto;
  }
  .media-query-box {
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .media-query-box {
      background-color: rgb(127, 225, 94);
    }
  }
  
  @media (min-width: 601px) {
    .media-query-box {
      background-color: rgb(237, 109, 45);
    }
  }
  .responsive-nav .nav-list {
    display: flex;
    list-style: none;
  }
  
  @media (max-width: 600px) {
    .responsive-nav .nav-list {
      display: none;
    }
  
    .responsive-nav .menu-toggle {
      display: block;
    }
  }
  .responsive-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
