h3 {
  color: #4bbbca;
}
#pupu-lajit {
  text-align: center;
  color: rgb(26, 72, 164);
}
body {
  background-color: rgb(238, 211, 226);
}
h1 {
  background-color: #cbe1e4;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#Puput-info {
  text-align: center;
}
.imagine-container {
  text-align: center;
}
.transition-button {
  background-color: #3e9ca9;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.transition-button:hover {
  transform: rotate(180deg);
  background-color: aquamarine;
}
.transition-button {
  width: 100px;
  height: 100px;
  background-color: rgb(76, 173, 195);
  position: relative;
  animation: move 2s infinite alternate;
}
@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 100px;
  }
}
.pupu-lista li:nth-child(odd) {
  background-color: rgb(112, 206, 225);
}

.pupu-lista li:nth-child(even) {
  background-color: rgb(218, 176, 206);

}
.pupu-lista{text-align: center;
}
.imagine-container {
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}
.imagine-container:hover {
  filter: grayscale(0%);
}
.sanasto {
  position: relative;
  padding-left: 20px;
  font-style: italic;
}
.sanasto::before {
  content:'“';
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(112, 206, 225);
}
.sanasto::after {
  content:'”';
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(112, 206, 225);
}