body {
    background-color: #fffafc;
    color: #3e3e3e;
    font-family: 'Segoe UI', sans-serif;
  }
  header {
    background-color: #fce4ec;
    padding: 2rem;
    text-align: center;
    color: #3e3e3e;
  }
h1{
text-align: center;
}
p{
 text-align: center
}
h2
{
text-align: center;
}
footer {
  background-color: #fce4ec;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  color: rgb(19, 18, 18);
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.carousel-inner img {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
  }
  #carouselExampleCaptions {
    margin-bottom: 40px;
  }
  #carouselExampleCaptions,
  .accordion {
    background-color: #fceef1;
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
    
  